<h1>All The Authors</h1>

<table class="striped bordered">
  <tr>
    <th>Author</th>
    <th>Birth Date</th>
    <th>Country</th>
    <th>Hometown</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @authors.each do |author| %>
      <tr>
        <td><%= link_to author.name, author_path(author) %></td>
        <td><%= author.bith_date%></td>
        <td><%= author.country %></td>
        <td><%= author.bith_place%></td>
                <td><a class="btn-floating btn-large red" href="<%= edit_author_path(author) %>" >
           <em class="large material-icons">Edit Author</em>
          </a>
        </td>
              <!--  <td><a class="btn-floating btn-large red" data-confirm="Are you sure you want to delete <%= author.name %>?" data-method="delete" href="/authors/<%= author.id %>" rel="nofollow"><i class="large material-icons">Delete author</i>
    	   </a>
        </td>
	      
	                 -->
      </tr>
  <% end %>
</table>

<h1>Add an Author</h1>
<%= link_to "Add an Author", new_author_path, { :class => "button waves-effect waves-light btn" } %>
<br><br>